<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="TensorCardEmulator Xposed">

        <meta-data
            android:name="xposed_description"
            android:value="NFC UID spoofer for TensorCardEmulator" />
        <meta-data
            android:name="xposed_min_version"
            android:value="93" />
        <meta-data
            android:name="xposed_target_sdk"
            android:value="36" />
        <meta-data
            android:name="xposed_version"
            android:value="1" />
        <meta-data
            android:name="xposed_entry"
            android:value="ru.extreames.tensorcardemulator.xposed.NfcUidHook" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

    </application>

</manifest>
